{{ form_start(form) }}
<div class="row justify-content-center-sm justify-content-left-xs">
    {% if vich_uploader_asset(offer, 'pictureFile') %}
    <div class="col-12 mt-5 mr-2 ml-2 text-center">
        <img src="{{ vich_uploader_asset(offer, 'pictureFile') }}" alt="Image de l'offre" class="img-fluid">
    </div>
    {% endif %}
    <div class="col-md-11 col-xs-12 mt-5 mr-2 ml-2 text-center">
        {{ form_row(form.pictureFile) }}
    </div>
    <div class="col-7 mt-5 mr-1 ml-1">
        {{ form_label(form.weight) }}
    </div>
    <div class="col-4 mt-5 mr-1 ml-1">
        {{ form_widget(form.weight) }}
    </div>
    <div class="col-md-7 col-xs-12 mt-4 mr-1 ml-1">
        {{ form_row(form.start) }}
    </div>
    <div class="col-md-7 col-xs-12 mt-4 mr-1 ml-1">
        {{ form_row(form.end) }}
    </div>
    <div class="col-md-11 col-xs-12 mt-4 mr-1 ml-1">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="col-md-11 col-xs-12 mt-4 mr-1 ml-1">
        {{ form_label(form.complementary) }}
        {{ form_widget(form.complementary) }}
    </div>
    <div class="col-11 text-right">
        {{ form_help(form) }}
    </div>
</div>
<div class="row justify-content-center mt-4">
    <button class="btn btn-info" type="submit">{{ button_placeholder|default('Modification') }}</button>
</div>
{{ form_end(form) }}
