{% extends 'Admin/layoutAdmin.html.twig' %}
{% block title %}Entreprise{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center mt-2">Entreprise {{ company.name }}</h1>
        <table class="table table table-striped mt-5 mb-5">
            <tbody>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th scope="col">Type d'entreprise</th>
                <td>{{ company.type }}</td>
            </tr>
            <tr>
                <th scope="col">Adresse</th>
                <td>{{ company.adress }}</td>
            </tr>
            <tr>
                <th scope="col">Code Postal</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th scope="col">Ville</th>
                <td>{{ company.town }}</td>
            </tr>
            <tr>
                <th scope="col">Téléphone</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th scope="col">Email</th>
                <td>{{ company.mail }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <a class="col text-center" href="{{ path('company_index') }}">Retour à la liste des Entreprises</a>
        </div>
    </div>
{% endblock %}