{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appCompany') }}{% endblock %}
{% block header %}
    <div class="row">
        <a class="col-md-3 text-md-right text-left" href="{{ path('admin_index') }}">
            <i class="fas fa-chevron-left text-secondary">Retour au panneau d'administration</i></a>
        <h1 class="col-md text-center">Liste des offres</h1>
        <div class="offset-md-3"></div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">

        <table class="table table-striped mt-5 mb-2">
            <thead>
            <tr>
                <th scope="col">
                    <div class="d-none d-md-block">Début</div>
                </th>
                <th scope="col">
                    <div class="d-none d-md-block">Fin</div>
                </th>
                <th scope="col">Entreprise</th>
                <th scope="col">Association</th>
                <th scope="col">FoodHero</th>
                <th scope="col">
                    <div class="d-none d-md-block">Description</div>
                </th>

                <th class="text-center" scope="col">Voir plus</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>
                        <div class="d-none d-md-block">{{ offer.start ? offer.start|date('m-d H:i') : '' }}</div>
                    </td>
                    <td>
                        <div class="d-none d-md-block">{{ offer.end ? offer.end|date('m-d H:i') : '' }}</div>
                    </td>
                    <td>
                        {{ offer.company.name }}
                    </td>
                    <td>
                        {% if offer.association is not null %}
                            {{ offer.association.name}}

                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        {% if offer.foodhero is not null %}
                            {{ offer.foodhero.user.fullname}}
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-none d-md-block">{{ offer.description }}</div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a href="#">
                                <i class="far fa-eye text-center text-primary"></i></a>
                        </div>
                    </td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune offre à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
