{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appCompany') }}{% endblock %}

{% block body %}
    <h1>Offer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Weight</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>Complementary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.picture }}</td>
                <td>{{ offer.weight }}</td>
                <td>{{ offer.start ? offer.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.end ? offer.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.complementary }}</td>
                <td>
                    <a href="#">show</a>
                    <a href="{{ path('offer_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offer_new') }}">Create new</a>
{% endblock %}
