{% extends 'base.html.twig' %}

{% block title %}FoodHero index{% endblock %}

{% block body %}
    <h1>FoodHero index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for food_hero in food_heroes %}
            <tr>
                <td>{{ food_hero.id }}</td>
                <td>{{ food_hero.phone }}</td>
                <td>
                    <a href="{{ path('food_hero_show', {'id': food_hero.id}) }}">show</a>
                    <a href="{{ path('food_hero_edit', {'id': food_hero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('food_hero_new') }}">Create new</a>
{% endblock %}
