{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Offres acceptées{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}

{% block header %}
    {% include 'Visitor/FoodHero/headerFoodHero.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mb-5 pb-5">
        <div class="row justify-content-center text-center">
            <div>
                <p class="fa text-center text-primary mt-3 mb-2"><strong>Liste des offres à livrer</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for offer in offers %}
                <div class="card">
                    <div class="card-header align-items-center">
                        <h3 class="col-12 mt-2 mb-0">{{ offer.description|slice(0,20) ~ '...' }}</h3>
                        <p>proposée par {{ offer.company.name }}</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul class="col-6">
                                <li class="mt-1"><i class="fas fa-dumbbell mr-2 mr-md-4"></i>{{ offer.weight }} Kg </li>

                                <li><i class="fas {{ offer.status.classfontawesome }}" style="color:{{ offer.status.color }}"></i> {{ offer.status.statustext }}</li>
                            </ul>
                            <img class="col-6"
                                 src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                                 alt="ImageOffre"/>
                            <p class="col-12 mt-1"><strong class="text-primary">Description</strong>
                                : {{ offer.description }}
                            </p>
                            <p class="col-12 mt-1"><strong class="text-primary">Informations complémentaires</strong>
                                : {{ offer.complementary }}</p>

                        </div>
                    </div>
                    {% if offer.status.constStatus == 'WaitingForRecuperation' %}
                    <a href="{{ path('foodhero_collect_offer', {'offer' : offer.id}) }}"
                       class="offset-3 col-6 mt-2 mb-2 btn btn-primary">Offre récupérée</a>
                    {% endif %}
                    {% if offer.status.constStatus == 'WaitingForDelivery' %}
                        <a href="#"
                           class="offset-3 col-6 mt-2 mb-2 btn btn-primary">Offre livrée</a>
                    {% endif %}
                </div>
            {% else %}
                <p><strong>Aucune Offre à afficher</strong></p>
            {% endfor %}

        </div>
    </div>
{% endblock %}