{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Offres acceptées{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}

{% block body %}
    <div class="row header">
        <a class="col-1" href="{{ path('profile_index') }}"><i class="fas fa-home"></i></a>
        <h1 class="col text-center">Annonces</h1>
    </div>
    <div class="container">
        <h1 class="text-center">Liste des offres à livrer</h1>
        <div class="row justify-content-center">

            {% for offer in offers %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <p class="col"> Expire le : {{ offer.end ? offer.end|date('d/m/Y H:i') : '' }} </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul class="col-6">
                                <li><strong class="text-primary">Quantité :</strong> {{ offer.weight }} Kg</li>

                                <li class="mt-1"><strong class="text-primary">Entreprise :</strong> {{ offer.company.name }}
                                </li>

                            </ul>
                            <img class="col-6"
                                 src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                                 alt="ImageOffre"/>
                            <p class="col-12 mt-1"><strong class="text-primary">Description</strong>
                                : {{ offer.description }}
                            </p>
                            <p class="col-12 mt-1"><strong class="text-primary">Informations complémentaires</strong>
                                : {{ offer.complementary }}</p>

                        </div>
                    </div>
                    <a href="#"
                       class="offset-6 col-6 mt-2 btn btn-primary">Offre récupérée</a>
                </div>
            {% else %}
                <p><strong>Aucune Offre à afficher</strong></p>
            {% endfor %}

        </div>
    </div>
{% endblock %}