{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Food Hero - Offres livrées{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}

{% block header %}
    {% include 'Visitor/FoodHero/headerFoodHero.html.twig' %}
{% endblock %}

{% block body %}
    <div class="row justify-content-center text-center">
        <div>
            <p class="fa-2x text-center text-primary mt-3"><strong>Offres livrées</strong></p>
        </div>
    </div>
    <table class="table mt-2 mt-md-2 text-center">
        <thead class="thead bg-primary text-center">
        <tr>
            <th scope="col">Date</th>
            <th scope="col" class="ml-3">Poids</th>
            <th scope="col">Status</th>
            <th scope="col">Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <th scope="row">{{ offer.end ? offer.end|date('d/m') : '' }}</th>
                <td>{{ offer.weight }} kg</td>
                <td><i class="fas {{ offer.status.classfontawesome }}"
                       style="color:{{ offer.status.color }}"></i> {{ offer.status.statustext }}</td>
                <td data-toggle="modal" data-target="#ModalOfferFoodHero{{ offer.id }}"><i class="far fa-eye text-center text-primary"></i></td>
            </tr>
          <div class="modal fade" id="ModalOfferFoodHero{{ offer.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <ul class="col-6">
                                    <li><strong class="text-primary">Quantité :</strong> {{ offer.weight }} Kg</li>
                                    <li><strong class="text-primary">Date
                                            :</strong> {{ offer.end ? offer.end|date('d/m') : '' }}</li>
                                </ul>
                                <img class="col-6"
                                     src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                                     alt="ImageOffre"/>
                                <p class="col-12 mt-1"><strong class="text-primary">Description</strong>
                                    : {{ offer.description }}
                                </p>
                                <p class="col-12 mt-1"><strong class="text-primary">Informations complémentaires</strong>
                                    : {{ offer.complementary }}</p>

                                <p class="col-12 mt-1"><strong class="text-primary">Entreprise
                                        :</strong> {{ offer.company.name }}</p>
                                {% if offer.foodhero is not null %}
                                    <p class="col-12 mt-1"><strong class="text-primary">FoodHero</strong>
                                        : {{ offer.foodhero.user.fullname }}
                                    </p>
                                {% endif %}
                                <p class="col-12 mt-1"><strong class="text-primary">Status</strong>
                                    : {{ offer.status.statustext }}</p>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}