<div class="col-12 col-sm-6 col-lg-4 pb-3">
    <div class="associationOfferBorder">
        <img class="card-img-top" src="{{ vich_uploader_asset(offer, 'pictureFile') }}" alt="Image de l'offre">
        <div class="card-body">
            <p class="card-text"><strong>Produits :</strong> {{ offer.description }}</p>
            <p class="card-text"><strong>Quantité :</strong> {{ offer.weight }} kg </p>
            {% if app.session.get('latitude') is not null %}
                {% if distance %}
                    <p class="card-text"><strong>Distance :</strong> {{ distance ? distance~ 'km' : 'non calculée' }} </p>
                {% endif %}
                {% if distanceTotal %}
                    <p class="card-text"><strong>Distance totale :</strong> {{ distanceTotal ? distanceTotal~ 'km' : 'non calculée' }} </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>