{% extends 'base.html.twig' %}

{% block title %}FoodHero{% endblock %}

{% block body %}
    <h1>FoodHero</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foodhero.id }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ foodhero.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('foodhero_index') }}">back to list</a>

    <a href="{{ path('foodhero_edit', {'id': foodhero.id}) }}">edit</a>

    {{ include('Visitor/FoodHero/_delete_form.html.twig') }}



{% endblock %}
