{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}
{% block header %}
    <div class="row header">
        <a class="col-3 col-md-4" href="{{ path('profile_index') }}"><i class="fas fa-home fa-2x"></i></a>
        {% if foodhero is defined %}
            <h1 class="col text-center">{{ foodhero.user.firstname }} {{ foodhero.user.lastname  }}</h1>
        {% else %}
            <h1 class="col text-center">Inscription</h1>
        {% endif %}
        <a class="col-3 text-right"><img src="{{ asset('build/images/logo-wastity_blanc.png') }}" class="img-fluid wastity_blanc"></a>
        <a class="col-12 col-md-1 text-center" href="/logout"><i class="fas fa-unlock"> Déconnexion</i></a>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card fh">
                <div class="card-header align-items-center">
                    <h3 class="col-12 mt-2 mb-0">{{ offer.description|slice(0,20) ~ '...' }}</h3>
                    <p>proposée par {{ offer.company.name }}</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <ul class="col-6">
                            <li class="mt-2"><i class="fas fa-clock mr-2 mr-md-4"></i>{{ offer.end ? offer.end|date('d/m/Y H:i') : '' }}</li>
                            <li class="mt-2"><i class="fas fa-dumbbell mr-2 mr-md-4"></i>{{ offer.weight }} Kg </li>

                            {% if app.session.get('latitude') is not null %}
                                {% if distance %}
                                    <li class="mt-1"><i class="fas fa-map-marker-alt mr-2 mr-md-4"></i> {{ distance ? distance~ 'km' : 'non calculée' }} </li>
                                {% endif %}
                                {% if distanceTotal %}
                                    <li class="mt-1">
                                        <i class="fas fa-route mr-2 mr-md-4"></i> {{ distanceTotal ? distanceTotal~ 'km' : 'non calculée' }} </li>
                                {% endif %}
                            {% endif %}

                        </ul>
                        <img class="col-6"
                             src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                             alt="ImageOffre"/>
                        <p class="col-12 mt-1"><strong >Description</strong>
                            : {{ offer.description }}
                        </p>
                        <p class="col-12 mt-1"><strong >Informations complémentaires</strong>
                            : {{ offer.complementary }}</p>

                    </div>
                </div>
                <div class="row">
                    <a class="btn btn-secondary my-2 ml-2"
                       href="https://www.google.com/maps/dir/{{ addressAsso }}/{{ addressCompany }}/{{ app.session.get('latitude') }},{{ app.session.get('longitude') }}">Voir
                        la carte</a>
                    <a href="{{ path('foodhero_accept_offer', {'foodhero' : foodhero.id , 'offer' : offer.id}) }}"
                       class="offset-1 col-5 my-2 btn ">Accepter l'offre</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

