{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}
{% block body %}
    <div class="row header">
        <a class="col-1" href="{{ path('foodhero_list_offers', {'id' : foodhero.id}) }}"><i
                    class="fas fa-chevron-left"></i></a>
        <h1 class="col text-center">Annonces</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <p class="col"> Expire le : {{ offer.end ? offer.end|date('d/m/Y H:i') : '' }} </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <ul class="col-6">
                            <li><strong class="text-primary">Quantité :</strong> {{ offer.weight }} Kg</li>
                            {% if app.session.get('latitude') is not null %}
                              {% if distance %}
                                <li class="mt-1"><strong class="text-primary">Distance :</strong> {{ distance ? distance~ 'km' : 'non calculée' }} </li>
                              {% endif %}
                              {% if distanceTotal %}
                                <li class="mt-1"><strong class="text-primary">Distance totale :</strong> {{ distanceTotal ? distanceTotal~ 'km' : 'non calculée' }} </li>
                              {% endif %}
                            {% endif %}
                            <li class="mt-1"><strong class="text-primary">Entreprise :</strong> {{ offer.company.name }}
                            </li>

                        </ul>
                        <img class="col-6"
                             src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                             alt="ImageOffre"/>
                        <p class="col-12 mt-1"><strong class="text-primary">Description</strong>
                            : {{ offer.description }}
                        </p>
                        <p class="col-12 mt-1"><strong class="text-primary">Informations complémentaires</strong>
                            : {{ offer.complementary }}</p>

                    </div>
                </div>
                <a href="{{ path('foodhero_accept_offer', {'foodhero' : foodhero.id , 'offer' : offer.id}) }}"
                   class="offset-6 col-6 mt-2 btn btn-primary">Accepter l'offre</a>
            </div>
        </div>
    </div>
{% endblock %}
