{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    <h1>Association index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>PostalCode</th>
            <th>Town</th>
            <th>Phone</th>
            <th>Mail</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.name }}</td>
                <td>{{ association.adress }}</td>
                <td>{{ association.postalCode }}</td>
                <td>{{ association.town }}</td>
                <td>{{ association.phone }}</td>
                <td>{{ association.mail }}</td>
                <td>
                    <a href="{{ path('association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('association_new') }}">Create new</a>
{% endblock %}
