<div class="card">
<div class="card-header">
    <a href="{{ path('association_show_offer', {'association' : association.id , 'offer' : offer.id}) }}">

    <div class="row">
            <p class="col"> Expire le : {{ offer.end ? offer.end|date('d/m/Y H:i') : '' }} </p>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <ul class="col-6">
                <li class="mt-1"><strong class="text-success">Quantité :</strong> {{ offer.weight }} Kg </li>

                {% if distance %}
                    <li class="mt-1"><strong class="text-success">Distance :</strong> {{ distance }} km </li>
                {% endif %}
                <li class="mt-1"><strong class="text-success">Description</strong> : {{ offer.description|slice(0,50) ~ '...' }}</li>

            </ul>
            </p>
            <img class="col-6"
                 src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                 alt="ImageOffre"/>
        </div>
    </div>
    </a>
</div>