{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block header %}
    <div>
        <div class="row header">
            <a class="col-1 text-center" href="{{ path('association_list_offers', {'id' : association.id}) }}"><i class="fas fa-chevron-left"></i></a>
            <h1 class="col text-center">{{ association.name }}</h1>
            <a class="col-1"><img src="{{ asset('build/images/logo-wastity_blanc.png') }}" class="img-fluid wastity_blanc"></a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <p class="col"> Expire le : {{ offer.end ? offer.end|date('d/m/Y H:i') : '' }} </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <ul class="col-6">
                            <li><strong class="text-success">Quantité :</strong> {{ offer.weight }} Kg</li>

                            {% if distance %}
                                <li class="mt-1"><strong class="text-success">Distance :</strong> {{ distance }} km</li>
                            {% endif %}
                            <li class="mt-1"><strong class="text-success">Entreprise :</strong> {{ offer.company.name }}
                            </li>

                        </ul>
                        <img class="col-6"
                             src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                             alt="ImageOffre"/>
                        <p class="col-12 mt-1"><strong class="text-success">Description</strong>
                            : {{ offer.description }}
                        </p>
                        <p class="col-12 mt-1"><strong class="text-success">Informations complémentaires</strong>
                            : {{ offer.complementary }}</p>

                    </div>
                </div>
                <a href="{{ path('association_accept_offer', {'association' : association.id , 'offer' : offer.id}) }}"
                   class="offset-6 col-6 mt-2 btn btn-success">Accepter l'offre</a>
            </div>
        </div>
    </div>
{% endblock %}
