{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}{{ association.name }}{% endblock %}

{% block header %}
    {% include 'Visitor/Association/headerAssociation.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container mb-5 pb-5">
        <div class="row justify-content-center text-center">
            <div>
                <p class="fa-2x text-center text-success mt-3 mb-2"><strong>Administration</strong><br>
                    <i class="fas text-success fa-toolbox fa-2x"></i></p>
            </div>
        </div>

        <div class="row text-success">
            <h1><strong>Votre association</strong></h1>
        </div>
        <div class="row justify-content-center ">
            <table class="infos">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td >{{ association.name }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td >{{ association.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td >{{ association.postalCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td >{{ association.city }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ association.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td >{{ association.mail }}</td>
                </tr>
                </tbody>

            </table>

        </div>

        <div class="row justify-content-center">

            <a class="btn btn-success  mt-5 mb-5" href="{{ path('association_edit', {'id': association.id}) }}">Modifier les informations</a>
        </div>


        <div class="row text-success">
            <h1><strong>Vos horaires</strong></h1>
        </div>
        <div class="row justify-content-center">
            <table>
                <thead>
                <tr>
                    <th class="col-md-3"></th>
                    <td class="col-md-3 text-center"><strong>Matin</strong></td>
                    <td class="col-md-3 text-center"><strong>Après-midi</strong></td>
                </tr>
                </thead>
                <tbody>

                {% for schedule in association.schedules %}
                    <tr>
                        <th>{{ schedule.day.name }}</th>
                        <td class="text-center">{% if schedule.openingAM== null and schedule.closingAM==null %} fermé {% else %} {{ schedule.openingAM|date('H:i') }}-{{ schedule.closingAM|date('H:i') }}{% endif %}</td>
                        <td class="text-center">{% if schedule.openingPM== null and schedule.closingPM==null %} fermé {% else %}{{ schedule.openingPM|date('H:i') }}-{{ schedule.closingPM|date('H:i') }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-success mt-5 mb-5" href="{{ path('association_edit_schedule', {'id': association.id}) }}">Modifier les horaires</a>
        </div>

        <div class="row text-info">
            <h1><strong>Vos membres</strong></h1>
        </div>
        <div class="justify-content-center text-center">

            {% if association.members is not empty %}
                {% for member in association.members  %}
                    <div class="row">
                        <div class="col-7 offset-2"><p>{{ member.email }}</p></div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun membre actuellement</p>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            {{ include('Visitor/Association/_formMember.html.twig', {'button_label': 'Enregistrer nouveau membre'}) }}
        </div>

    </div>
{% endblock %}

