{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}
{% block body %}
    <div class="row">
        <a class="col-1 text-center" href="{{ path('association_list_offers', {'id' : association.id}) }}"><i class="fas fa-chevron-left"></i></a>
        <div class="offset-1"></div>
    </div>
    <div class="container">
        <h1 class="text-center">Offre sélectionnée</h1>
        <div class="row justify-content-center">
            <div class="card">

            {{ render(controller(
                'App\\Controller\\AssociationController::showOneOffer', {'association':association.id, 'offer':offer.id}
            )) }}

            <strong class="text-success">Entreprise :</strong> {{ offer.company.name }}
            </p>
                {% if  vich_uploader_asset(offer, 'pictureFile') == "/upload/offer/assets/images/wastityPlaceHolder.png" %}
                    <img class="col-6" src="{{ asset('build/images/wastityPlaceHolder.png') }}" alt="ImageOffre"/>
                {% else %}
                    <img class="col-6" src="{{ vich_uploader_asset(offer, 'pictureFile') }}" alt="ImageOffre"/>
                {% endif %}            <p class="col-12 mt-1"><strong class="text-success">Description</strong> : {{ offer.description}}</p>
            <p class="col-12 mt-1"><strong class="text-success">Informations complémentaires</strong> : {{ offer.complementary}}</p>

        </div>
    </div>


        </div>
    <a href="{{ path('association_accept_offer', {'association' : association.id , 'offer' : offer.id}) }}"
       class="offset-sm-10 offset-6 col-6 col-sm-2 btn btn-success">Accepter l'offre</a>
    </div>
{% endblock %}
