<div class="card asso">
    <div class="card-header align-items-center">
        <h3 class="col-12 mt-2 mb-0">{{ offer.description|slice(0,25) ~ '...' }}</h3>
        <p>proposée par {{ offer.company.name }}</p>
    </div>

    <div class="card-body">
        <div class="row align-items-center">
            <ul class="col-6">
                <li class="mt-1"><i
                            class="fas fa-clock mr-2 mr-md-4"></i>{{ offer.end ? offer.end|date('d/m/Y H:i') : '' }}
                </li>
                <li class="mt-1"><i class="fas fa-dumbbell mr-2 mr-md-4"></i>{{ offer.weight }} Kg</li>

                {% if distance %}
                    <li class="mt-1"><i class="fas fa-map-marker-alt mr-2 mr-md-4"></i>{{ distance }} km</li>
                {% endif %}

            </ul>
            <img class="imgOffer col-6"
                 src="{{ offer.picture ? vich_uploader_asset(offer, 'pictureFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                 alt="ImageOffre"/>
        </div>

        <details>
            <summary class="btn btn-outline-secondary"><i class="fas fa-search-plus mr-2"></i>Voir plus</summary>
            <div>
                <p class="col-12 mt-1"><strong class="text-success">Description</strong>
                    : {{ offer.description }}
                </p>
                <p class="col-12 mt-1"><strong class="text-success">Informations complémentaires</strong>
                    : {{ offer.complementary }}</p>
            </div>
            <div class="row">
                <a class="btn btn-secondary offset-3 col-6 mb-2" href="{{ path('association_accept_offer', {'association' : association.id , 'offer' : offer.id}) }}"
               >Accepter l'offre</a>
            </div>
        </details>
    </div>
</div>


