{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('css/appProfile') }}{% endblock %}

        {% block header %}
            <div class="row justify-content-start align-items-center">
                <p class="col-12 text-center">Choisissez votre profil</p>
                <p class="offset-1"></p>
            </div>
        {% endblock %}
{% block body %}
    <main class="container">
    <section class="text-center ">
        <div class="title row">
            <b>Vous souhaitez contribuer à la réduction du gaspillage alimentaire?</b>
            <p>Indiquez-nous comment vous souhaitez agir.</p>
        </div>
        <div class="row justify-content-between">
            <article class="col-12 col-lg-3 ">
                <a href="{% if app.user.foodhero is null %}{{ path('foodhero_new') }}{% else %}{{ path('foodhero_edit', {'id' : app.user.foodhero.id}) }}{% endif %}">

                    <div class="card" style="width: 18rem;">
                        <img class="foodhero-picture"
                             src="{{ asset('build/images/bonhomme-blanc-3d-foodheroor.jpg') }} " style="height: 30vh"
                             alt="bonhomme blanc foodhero"/>
                        <div class="card-body">
                            <h1 class="card-title">Food Hero</h1>
                            <p class="card-text">Je souhaite aider les associations à collecter des offres alimentaires
                                près de chez moi.</p>
                        </div>
                    </div>
                </a>
            </article>


            <article class="col-12 col-lg-3 ">
                <a href="{% if app.user.company is null %}{{ path('company_new') }}{% else %}{{ path('company_show', {'id' : app.user.company.id}) }}{% endif %}">
                    <div class="card" style="width: 18rem;">
                        <img class="company-picture"
                             src="{{ asset('build/images/bonhomme-blanc-3d-companyblue.jpg') }} " style="height: 30vh"
                             alt="bonhomme blanc foodhero"/>
                        <div class="card-body">
                            <h1 class="card-title">Entreprise</h1>
                            <p class="card-text">Je souhaite proposer mes surplus à une association d'aide
                                alimentaire.</p>
                        </div>
                    </div>
                </a>
            </article>


            <article class="col-12 col-lg-3 ">
                <a href="{% if app.user.company is null %}{{ path('company_new') }}{% else %}{{ path('company_show', {'id' : app.user.company.id}) }}{% endif %}">
                    <div class="card" style="width: 18rem;">
                        <img class="company-picture"
                             src="{{ asset('build/images/bonhomme-blanc-3d-associationgreen.jpg') }} "
                             style="height: 30vh"
                             alt="bonhomme blanc foodhero"/>
                        <div class="card-body">
                            <h1 class="card-title">Association</h1>
                            <p class="card-text">Je représente une association qui souhaite bénéficier d'offres
                                alimentaires.</p>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </section>



{% endblock %}