{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('css/appProfile') }}{% endblock %}

{% block header %}
    {% include 'headerLogo.html.twig' with {'type': 'Choisissez votre profil'} %}
{% endblock %}

{% block body %}
    <main class="container d-flex justify-content-center">
        <section class="text-center">
            <div class="card fh">
                <a href="{% if app.user.foodhero is null %}{{ path('foodhero_new') }}{% else %}{{ path('foodhero_list_offers', {'id' : app.user.foodhero.id}) }}{% endif %}
">
                    <div class="card-header">
                        <div class="card-header align-items-center">
                            <img class="image" src="{{ asset('build/images/super(3).png') }}" alt="superhero"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>Food Hero</h2>
                        <p>Je souhaite aider les associations à collecter des offres alimentaires près de chez moi</p>
                    </div>
                </a>
            </div>
            <div class="card comp">
                <a href="
                    {% if app.user.company is null %}
                        {% if app.user.memberCompanies is empty %}
                            {{ path('company_new') }}
                        {% else  %}{{ path('company_show_offers', {'id' : app.user.memberCompanies[0].id}) }} {% endif %}
                    {% else %}{{ path('company_show_offers', {'id' : app.user.company.id}) }}{% endif %}
                ">
                    <div class="card-header">
                        <div class="card-header align-items-center">
                            <img class="image" src="{{ asset('build/images/company.png') }}" alt="entreprise"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>Entreprise</h2>
                        <p>Je souhaite proposer mes surplus à une association d'aide alimentaire</p>
                    </div>
                </a>
            </div>
            <div class="card asso">
                <a href="
                    {% if app.user.association is null %}
                        {% if app.user.memberAssociations is empty %}
                            {{ path('association_new') }}
                        {% else  %}{{ path('association_list_offers', {'id' : app.user.memberAssociations[0].id}) }} {% endif %}
                    {% else %}{{ path('association_list_offers', {'id' : app.user.association.id}) }}{% endif %}
                ">
                    <div class="card-header">
                        <div class="card-header align-items-center">
                            <img class="image" src="{{ asset('build/images/heart.png') }}" alt="association"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>Association</h2>
                        <p>Je représente une association qui souhaite bénéficier d'offres alimentaires</p>
                    </div>
                </a>
            </div>

        </section>
    </main>



{% endblock %}