{% extends 'Visitor/Company/layoutCompany.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block header %}
    {% include 'Visitor/Company/headerCompany.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container mb-5 pb-5">
            <div class="row justify-content-center text-center">
                <div>
                    <p class="fa-2x text-center text-info mt-3 mb-2"><strong>Offres</strong></p>
                </div>
            </div>

            {% for offer in company.offers %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h2 class="col-lg-8 col-md-6"> {{ company.name }} </h2>
                            <h4 class="col-lg-4 col-md-6"> Finit le
                                : {{ offer.end ? offer.end|date('d/m/Y H:i') : '' }} </h4>
                            <h5 class="col-12"> {{ company.address }} </h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h4 class="col-6">Quantité : {{ offer.weight }} Kg</h4>
                            <img class="col-6" src="{{ vich_uploader_asset(offer, 'pictureFile') }}" alt="ImageOffre"/>
                            {% if offer.association is empty %}
                                <p class="col-12 mt-5 text-sm-center status"><i
                                            class="fas fasResearchAssoc fa-circle"></i>
                                    En recherche d'association</p>
                            {% endif %}
                        </div>
                    </div>

                    <a class="offset-sm-10 offset-8 col-4 col-sm-2 btn btn-info mt-4"
                       href="{{ path('offer_edit', {'id': offer.id}) }}">{{ button_label|default('Modifier') }}</a>
                </div>
            {% endfor %}
            <a class="btn btn-info mt-4 mb-1"
               href="{{ path('offer_new') }}">{{ button_label|default('Nouvelle offre') }}</a>
        </div>
    </div>
{% endblock %}
